name: Build Native ARM64

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    # On utilise la puissance des serveurs ARM de GitHub
    runs-on: ubuntu-24.04-arm64 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.python313
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/python-compiled:3.13.9
          cache-from: type=gha
          cache-to: type=gha,mode=max
