name: Build ARM64 (Compatible Mode)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest # Disponible instantanément
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        # Cette étape est vitale pour compiler de l'ARM sur du Intel
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.python313
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/python-compiled:3.13.9
          cache-from: type=gha
          cache-to: type=gha,mode=max
